body {
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
    background:linear-gradient(45deg, #0611de, #00a6d8,#ae00ff,#ff00ff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background:linear-gradient(45deg, #0611de, #00a6d8,#ae00ff,#ff00ff);
    width: 30%;
    font-size: 16px;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.min-h-screen{
    display: flex;
    justify-content: center;
    background-color: blue;
    background: linear-gradient(45deg, #0611de, #00a6d8, #ae00ff, #ff00ff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
.bg-blue-600{
    background:linear-gradient(45deg, #0611de, #00a6d8,#ae00ff,#ff00ff);
}

#username{
    text-align: right;
}
#password{
    text-align: right;
}

.w-full{
    text-align: right;
}
.block{
    text-align: right;
}
.image{
    border-radius: 25%;
    width: 100px;
    display: flex;
    position: relative;
    left: 110px;
}